<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Aurelia Navigation Skeleton</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <base href="<%- htmlWebpackPlugin.options.metadata.baseUrl %>">
  <link rel="icon" href="favicon.ico">
 <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
 integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

  <script src="https://use.fontawesome.com/4766a2abea.js"></script>
</head>

<body aurelia-app="main">
</body>

</html>

